{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner out">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

<style>
.post-header .nav li a:hover {
    border-bottom: 4px solid #ffffff;
}
.post-header {
    top: -60px;
}
</style>

{{> floating-header}}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="innerer">

        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
<script src="/assets/js/jquery.min.js"></script>
<script>
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if(scroll > 400) {
            document.querySelectorAll('.backtop')[0].style.right = '0px'
            document.querySelectorAll('.post-header')[0].style.top = '0px'
        }else if(scroll < 400) {
            document.querySelectorAll('.backtop')[0].style.right = '-131px'
            document.querySelectorAll('.post-header')[0].style.top = '-60px'
        }
    })
</script>
{{pagination}}
