{{!< default}}
{{!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> --}}

<link rel="stylesheet" href="/assets/css/prism.css">
<script src="/assets/js/prism.js"></script>

<header class="post-header">
    <a class="post-blog-logo" href="{{ @blog.url }}">
        <img src="{{@blog.logo}}" alt="">
    </a>
    <div class="unpinned">
        {{ navigation }}
    </div>
</header>

{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header" style="background-image:url({{feature_image}});">
                <div class="color-background" style="background-color: rgba(61, 47, 89, 0.97);">
                    <div class="wp">
                        <h1 class="post-full-title">{{title}}</h1>
                        <div class="entry-meta">
                            <span class="post-tag"><a href="/tag/wordpress/">WordPress</a></span>
                            <span class="dot">•</span>
                            <span class="post-time">更新于<time datetime="2019-03-06"> 2019-03-06</time></span>
                            <span>on <a href="/author/kangna/">kangna</a></span>
                        </div>
                    </div>
                </div>
                {{!-- <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                    {{#primary_tag}}
                        <span class="date-divider">/</span> <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                <h1 class="post-full-title">{{title}}</h1> --}}
            </header>

            {{!-- {{#if feature_image}}
            <figure class="post-full-image" style="background-image: url({{feature_image}})">
            </figure>
            {{/if}} --}}

            <section class="post-full-content">
                <div class="post-cover">
                    <img src="{{ feature_image }}" alt="" srcset="">
                </div>
                <div class="post-content">
                    {{content}}
                </div>
                <div class="post-copyright">原创文章转载请注明：转载自：
                    <a href="">
                        {{ title }}
                    </a>
                </div>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </section>
            {{/if}}
            {{!-- <footer class="post-full-footer"> --}}

                {{!-- There are two options for how we display the byline/author-info.
                If the post has more than one author, we load a specific template
                from includes/byline-multiple.hbs, otherwise, we just use the
                default byline. --}}

                {{!-- {{#has author="count:>1"}}
                    {{> "byline-multiple"}}
                {{else}}
                    {{> "byline-single"}}
                {{/has}} --}}

            {{!-- </footer> --}}

            {{!-- {{ tags }} --}}

            {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

        </article>

    </div>
</main>

{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{!-- {{> floating-header}} --}}

{{/post}}

<script>
    window.onload = () => {
        const titleImg = document.querySelectorAll('.post-cover img')[0],
            headBackground = document.querySelectorAll('.color-background')[0],
            colorThief = new ColorThief(),
            ad = colorThief.getColor(titleImg)

        headBackground.style.backgroundColor = `rgba(${ad[0]}, ${ad[1]}, ${ad[2]}, 0.97)`
        document.querySelectorAll('.post-copyright a')[0].href = window.location.host + {{ url }}
    }
</script>